<div class="dashboard">
    <a href="/">Voltar</a>
    <div class="title-container">
        <h2>Meu perfil</h2>
    </div>
    <div class="profile-container">
        <span>Nome: </span>{{user.name}}
        <br>
        <span>E-mail: </span>{{user.email}}
    </div>
</div>
